*{
    font-family: 'Times New Roman', Times, serif;
    transition-duration: 1s;
    transition:2s;
}

.link:hover{
    color:black;
}

table{
    width:400px;
}

table, th, td{
    border:1px solid black;
    padding-left:5px;
}

input{
    margin-bottom: 25px;
    justify-content: space-between;
    padding:5px;
    width:300px;
}

form{
    background-color: lightgray;
    width:60%;
    margin:30px 20% 30px 20%;
    padding: 10px;
}

button{
    background-color: green;
    width:100px;
    color:white;
    text-align: center;
    padding:5px;
    margin:auto;
}

blockquote{
    border: 2px dashed orange;
    border-radius: 10px;
    padding:5px;
    width:80%;
}


/*localcontent.html*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }







